services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    command: [ "uv", "run", "gunicorn", "src.main:create_app()", "-b", "0.0.0.0:8080", "-k", "uvicorn_worker.UvicornWorker", "-w", "${API_WORKERS_QUANTITY}", "--log-level", "info", "--access-logfile", "-", "--error-logfile", "-" ]
    ports:
      - ${API_PORT}:8080
    volumes:
      - migrations-data:/app/migrations/versions
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    restart: unless-stopped
    image: postgres:17-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -q -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 2s

volumes:
  migrations-data: {}
  postgres-data: {}
